@import './vendors/bootstrap.scss';

@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './base/base';
@import './base/typography';

@import './components/buttons';

@import './layout/footer';
@import './layout/sections';

@import './sections/about';
@import './sections/contact';
@import './sections/hero';
@import './sections/projects';


ul li {
    font-size: 1.6rem !important;
}

.font-bold {
    font-weight: 700;
}

.opacity-60 {
    opacity: 0.6;
    cursor: not-allowed;
}